#modal-margin {
    max-width: 55%;
}

#text-field-container {
    margin-top: 20vh;
    width: 60%;
}

.text_field input {
    font-size: 1.8em !important;
}

.text_field .v-icon {
    margin-bottom: -25px !important;
}

#table-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.a-tag {
    color: black !important;
    text-decoration: none;
}

#user-item {
    display: inline-block !important;
    width: 120px !important;
}

#blog-item:hover {
    color: #00d5aa !important;
    text-decoration: underline!important;
}

#user-intro {
    text-align: center;
    color: grey;
    font-size: 0.8em;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

#user-name {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

#user-item:hover {
    border: 1px solid #00d5aa;
    border-radius: 20px;
    border-collapse: collapse;
    opacity: 0.8;
}

#user-img:hover~#user-name,
#user-item:hover #user-intro,
#user-item:hover #user-name {
    color: #00d5aa !important;
}

#user-item:hover #user-img-div {
    background: #00d5aa;
}

#user-img:hover,
#user-item:hover #user-img {
    background-color: #00d5aa !important;
    object-fit: cover;
    opacity: 95%;
}

td {
    /* padding:0 5% !important; */
    vertical-align: top;
}

.highlight {
    color: #00d5aa !important;
}